{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended"],
  "plugins": ["jest"],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "any": false,
    "Promise": true
  }
}
