{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype"
  ],
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "bracketSpacing": false,
      "jsxBracketSameLine": true,
      "parser": "flow",
      "printWidth": 80,
      "singleQuote": true,
      "trailingComma": "all"
    }]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}