{
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "jest",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "any": false,
    "Promise": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "bracketSpacing": false,
      "jsxBracketSameLine": true,
      "parser": "flow",
      "printWidth": 80,
      "singleQuote": true,
      "trailingComma": "all"
    }]
  }
}